.payment label{
    font-weight: 600;
    color: #000d6b;
}



.btn-payment{
    width: 70%;
    background: #000d6b;
    margin-top: 20px;
    padding: 8px 15px;
    font-size: 10px;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
}


.form-group{
    margin-top: 20px;
}

.input-pay{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    color: #444;
}